extends layout

block layout-content
    mixin defaultInput(inputType, inputName, inputValue, dis)
        -if(dis)
            input.form-control.field(type=inputType, name=inputName, value=inputValue, readonly)
        -else
            input.form-control.field(type=inputType, name=inputName, value=inputValue)

    mixin largeInput(inputName, inputValue, dis)
        -if(dis)
            textArea.form-control.field(name=inputName, rows=5, readonly)= inputValue
        -else
            textArea.form-control.field(name=inputName, rows=5)= inputValue

    mixin selectInput(inputName, inputValue, arr, dis)
        -if(dis)
            select.form-control.field(name=inputName, readonly)
                each str in arr
                    -if(str == inputValue)
                        option(value=str, selected='selected')= str
                    -else
                        option(value=str)= str
        -else
            select.form-control.field(name=inputName)
                each str in arr
                    -if(str == inputValue)
                        option(value=str, selected='selected')= str
                    -else
                        option(value=str)= str

    mixin dateTimeInput(inputName, inputValue, dis)
        -if(dis)
            input.form-control.field(type='datetime-local', name=inputName, step=1, value=inputValue, readonly)
        -else
            input.form-control.field(type='datetime-local', name=inputName, step=1, value=inputValue)

    mixin tagsInput(inputName, inputValue, dis)
        -if(dis)
            textArea.form-control.field(id=`${inputName}-search`, name=inputName, rows=5, readonly)= inputValue
        -else
            textArea.form-control.field(id=`${inputName}-search`, name=inputName, rows=5, oninput=`tagSuggest('${baseURL}', '${inputName}', true)`)= inputValue

    mixin tagInput(inputName, inputValue, dis)
        -if(dis)
            input.form-control.field(id=`${inputName}-search`, type='text', name=inputName, value=inputValue, readonly)
        -else
            input.form-control.field(id=`${inputName}-search`, type='text', name=inputName, value=inputValue, oninput=`tagSuggest('${baseURL}', '${inputName}', false)`)

    mixin fileInput(inputName, dis)
        -if(dis)
            input.form-control.field(type="file", name=inputName, accept="image/jpeg, image/png, image/bmp, image/svg+xml, image/webp, application/pdf", readonly)
        -else
            input.form-control.field(type="file", name=inputName, accept="image/jpeg, image/png, image/bmp, image/svg+xml, image/webp, application/pdf")

    mixin radioInput(inputName, inputValue, arr, dis)
        each str in arr
            div.form-check.form-check-inline
                -if(inputValue == str)
                    -if(dis)
                        input.form-check-input(type="radio", name=inputName, id=str, value=str, checked="checked", readonly)
                    -else
                        input.form-check-input(type="radio", name=inputName, id=str, value=str, checked="checked")
                -else
                    -if(dis)
                        input.form-check-input(type="radio", name=inputName, id=str, value=str, readonly)
                    -else
                        input.form-check-input(type="radio", name=inputName, id=str, value=str)
                label.form-check-label(for=str)= str
    
    mixin customColor(inputName, inputValue, hideLum, dis)
        -huePresent = true
        -if(inputValue && inputValue != '')
            -parts = inputValue.split(':');
        div.row.align-items-center
            div.col-sm-3.text-end.bg-item Mode
            div.col-sm-9
                -clr = 'Color'
                -if(parts)
                    -clr = parts[0]
                -if(dis)
                    select.form-control.field(name=`${inputName}A`, readonly)
                        -if(clr == 'Color')
                            option(value='Color', selected='selected') Color
                        -else
                            option(value='Color') Color
                        -if(clr == 'Grayscale')
                            option(value='Grayscale', selected='selected') Grayscale
                        -else
                            option(value='Grayscale') Grayscale
                -else
                    select.form-control.field(id=`${inputName}A`, name=`${inputName}A`, onchange=`showHideHL('${inputName}', ${hideLum})`)
                        -if(clr == 'Color')
                            option(value='Color', selected='selected') Color
                        -else
                            option(value='Color') Color
                        -if(clr == 'Grayscale')
                            option(value='Grayscale', selected='selected') Grayscale
                        -else
                            option(value='Grayscale') Grayscale
        div.row.align-items-center(id=`${inputName}B-row`)
            div.col-sm-3.text-end.bg-item Hue
            div.col-sm-9
                -hue = 0
                -if(parts)
                    -hue = +parts[1]
                -if(dis)
                    input.form-control.field(type='number', min=0, max=359, name=`${inputName}B`, value=hue, readonly)
                -else
                    input.form-control.field(type='number', min=0, max=359, name=`${inputName}B`, value=hue)
        div.row.align-items-center(id=`${inputName}C-row`)
            div.col-sm-3.text-end.bg-item Luminance
            div.col-sm-9
                -lum = 0
                -if(parts && parts.length > 2)
                    -lum = +parts[2]
                -if(dis)
                    input.form-control.field(type='number', min=0, max=100, name=`${inputName}C`, value=lum, readonly)
                -else
                    input.form-control.field(type='number', min=0, max=100, name=`${inputName}C`, value=lum)
        script= `showHideHL('${inputName}', ${hideLum})`

    mixin onOffInput(inputName, inputValue, dis)
        +radioInput(inputName, inputValue, ['On', 'Off'], dis)

    mixin formRow(inputType, inputName, inputLabel, arrs, inputValue)
        -dis = false
        -if(inputType.includes('/dis'))
            -inputType = inputType.replace('/dis', '')
            -dis = true
        div.row.mb-2
            div.col-sm-5.text-end.bg-item= inputLabel
            div.col-sm-6.p-0
                -if(inputType == 'select')
                    +selectInput(inputName, inputValue, arrs[inputName], dis)
                -else if(inputType == 'datetime')
                    +dateTimeInput(inputName, inputValue, dis)
                -else if(inputType == 'text-area')
                    +largeInput(inputName, inputValue, dis)
                -else if(inputType == 'tags')
                    +tagsInput(inputName, inputValue, dis)
                -else if(inputType == 'tag')
                    +tagInput(inputName, inputValue, dis)
                -else if(inputType == 'hue')
                    +customColor(inputName, inputValue, true, dis)
                -else if(inputType == 'file')
                    +fileInput(inputName, dis)
                -else if(inputType == 'on/off')
                    +onOffInput(inputName, inputValue, dis)
                -else if(inputType == 'radio')
                    +radioInput(inputName, inputValue, arrs[inputName], dis)
                -else if(inputType == 'hl-color')
                    +customColor(inputName, inputValue, false, dis)
                -else
                    +defaultInput(inputType, inputName, inputValue, dis)
            div.col-sm-1.p-0
                -if(!dis && (inputType == 'tag' || inputType == 'tags'))
                    button.btn.box.ct-color.dropdown-toggle.ms-2(id=`${inputName}-dropdown`, type='button' data-bs-toggle='dropdown' data-bs-auto-close='false' aria-expanded='false')
                    ul.ct-color.box.dropdown-menu.pt-0(id=`${inputName}-menu`, aria-labelledby='item-dropdown')
                    script= `tagSuggest('${baseURL}', '${inputName}', ${inputType=='tags'})`

    mixin hueBox()
        div.box.p-2.row.bg-item
            div.col-sm-8
                div.row
                    div.col-sm-4.text-center red
                    div.col-sm-4.text-center 0
                    div.col-sm-4.text-center
                        span(style='color: hsl(0, 80%, 25%)') ■
                        span(style='color: hsl(0, 80%, 50%)') ■
                        span(style='color: hsl(0, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center orange
                    div.col-sm-4.text-center 30
                    div.col-sm-4.text-center
                        span(style='color: hsl(30, 80%, 25%)') ■
                        span(style='color: hsl(30, 80%, 50%)') ■
                        span(style='color: hsl(30, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center yellow
                    div.col-sm-4.text-center 60
                    div.col-sm-4.text-center
                        span(style='color: hsl(60, 80%, 25%)') ■
                        span(style='color: hsl(60, 80%, 50%)') ■
                        span(style='color: hsl(60, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center lime
                    div.col-sm-4.text-center 90
                    div.col-sm-4.text-center
                        span(style='color: hsl(90, 80%, 25%)') ■
                        span(style='color: hsl(90, 80%, 50%)') ■
                        span(style='color: hsl(90, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center green
                    div.col-sm-4.text-center 120
                    div.col-sm-4.text-center
                        span(style='color: hsl(120, 80%, 25%)') ■
                        span(style='color: hsl(120, 80%, 50%)') ■
                        span(style='color: hsl(120, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center puse
                    div.col-sm-4.text-center 150
                    div.col-sm-4.text-center
                        span(style='color: hsl(150, 80%, 25%)') ■
                        span(style='color: hsl(150, 80%, 50%)') ■
                        span(style='color: hsl(150, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center cyan
                    div.col-sm-4.text-center 180
                    div.col-sm-4.text-center
                        span(style='color: hsl(180, 80%, 25%)') ■
                        span(style='color: hsl(180, 80%, 50%)') ■
                        span(style='color: hsl(180, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center teal
                    div.col-sm-4.text-center 210
                    div.col-sm-4.text-center
                        span(style='color: hsl(210, 80%, 25%)') ■
                        span(style='color: hsl(210, 80%, 50%)') ■
                        span(style='color: hsl(210, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center blue
                    div.col-sm-4.text-center 240
                    div.col-sm-4.text-center
                        span(style='color: hsl(240, 80%, 25%)') ■
                        span(style='color: hsl(240, 80%, 50%)') ■
                        span(style='color: hsl(240, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center purple
                    div.col-sm-4.text-center 270
                    div.col-sm-4.text-center
                        span(style='color: hsl(270, 80%, 25%)') ■
                        span(style='color: hsl(270, 80%, 50%)') ■
                        span(style='color: hsl(270, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center magenta
                    div.col-sm-4.text-center 300
                    div.col-sm-4.text-center
                        span(style='color: hsl(300, 80%, 25%)') ■
                        span(style='color: hsl(300, 80%, 50%)') ■
                        span(style='color: hsl(300, 80%, 75%)') ■
                div.row
                    div.col-sm-4.text-center pink
                    div.col-sm-4.text-center 330
                    div.col-sm-4.text-center
                        span(style='color: hsl(330, 80%, 25%)') ■
                        span(style='color: hsl(330, 80%, 50%)') ■
                        span(style='color: hsl(330, 80%, 75%)') ■
            div.col-sm-4
                div.row
                    div.col-sm-6.text-center 0
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 0%)') ■
                div.row
                    div.col-sm-6.text-center 10
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 10%)') ■
                div.row
                    div.col-sm-6.text-center 20
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 20%)') ■
                div.row
                    div.col-sm-6.text-center 30
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 30%)') ■
                div.row
                    div.col-sm-6.text-center 40
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 40%)') ■
                div.row
                    div.col-sm-6.text-center 50
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 50%)') ■
                div.row
                    div.col-sm-6.text-center 60
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 60%)') ■
                div.row
                    div.col-sm-6.text-center 70
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 70%)') ■
                div.row
                    div.col-sm-6.text-center 80
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 80%)') ■
                div.row
                    div.col-sm-6.text-center 90
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 90%)') ■
                div.row
                    div.col-sm-6.text-center 100
                    div.col-sm-6.text-center
                        span(style='color: hsl(0, 0%, 100%)') ■

    block form-content