extends layout

block layout-content
    - itm = args.item
    -if(itm != null)
        - url = args.item.source.replace('$BASE_URL', baseURL)
        div.container-fluid
            div.row
                div.col-sm-1
                div.col-sm-6.text-center
                    -if(itm.type == 0)
                        a(href=url)
                            img.width-snug(title=itm.tags.join(" "), src=url)
                    -else if(itm.type == 1)
                        embed.width-snug.tall-embed(src=url)
                    -else if(itm.type == 2)
                        video.width-snug(title=itm.tags.join(" "), src=url, controls)
                    -else if(itm.type == 3)
                        audio.width-snug(title=itm.tags.join(" "), src=url, controls)
                    -else
                        a(href=url)= url
                div.col-sm-4.box.ps-3.pe-3.pb-3
                    -if(user != undefined && user.role >= 2)
                        h3.mt-3 Options
                        div#options
                            a.btn.gd-color.me-3(href=`${baseURL}/post/item?edit=${itm.id}`) Edit
                            a.btn.er-color.me-3(href=`${baseURL}/delete/item?id=${itm.id}`) Delete
                    h3.mt-3 Tags
                    each type in args.types
                        b= type.name
                        ul
                            each tag in args.tags.get(type.name)
                                li(style=`padding-left: ${args.indents.get(tag.name) * 17}px;color:${type.getColorString(config.tagLum)}`)
                                    a(style=`color:${type.getColorString(config.tagLum)}`, href=`${baseURL}/search?tags=${tag.name}`)= `${tag.name} (${tag.refs.length})`
                    h3.mt-3 Timestamp
                    div= `${new Date(itm.date).toLocaleDateString()} ${new Date(itm.date).toLocaleTimeString()}`
                    h3.mt-3 Description
                    p= itm.desc
                    h3.mt-3 Link
                    a(href=`${baseURL}/item?id=${itm.id}`) #{`${baseURL}/item?id=${itm.id}`}
                div.col-sm-1
    -else
        h2.text-center The specified item could not be loaded or does not exist