block variables
doctype html
html
    -
        var navItems = [
            {
                0: ['Home', '', '0'],
                1: ['Search', '/search', '0'],
                2: ['Tags', '/search/tags', '0'],
                3: ['Tag Types', '/search/tagTypes', '0'],
                4: ['Manage Users', '/userCenter', '2'],
            },
            {
                5: ['New Item', '/post/item', '1'],
                6: ['New Tag', '/post/tag', '1'],
                7: ['New TagType', '/post/tagType', '2'],
                8: ['New User', '/post/user', '2']
            }
        ]
    -level = user != undefined ? user.role : '0';
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel="stylesheet", type='text/css', href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
        link(rel='stylesheet', type='text/css', href='/css/main.mini.css')
        script(src='/js/main.mini.js')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title= `${title} | Tag Search`
        style= themeSheet
    body
        header.container-fluid.bg-primary.pt-4.pb-3.mb-3
            h1.pb-4.text-center.bg-item Tag Search
            div.row.mt-3.mb-3
                div.col-sm-2
                div.col-sm-8.row.align-items-center
                    div.col-sm-3.text-end.p-0
                        span.bg-item Search
                        button#main-dropdown.btn.box.ct-color.dropdown-toggle.ms-2(type='button' data-bs-toggle='dropdown' data-bs-auto-close='false' aria-expanded='false')
                        ul#main-menu.ct-color.box.dropdown-menu.pt-0(aria-labelledby='main')
                    div.col-sm-6.p-0
                        input#main-search.width-full.field.form-control(type='text' name='search' value=search oninput=`tagSuggest('${baseURL}', 'main', true)`)
                    div.col-sm-3
                        button#main-button.btn.gd-color(onclick=`window.location.href='${baseURL}/search?tags='+document.getElementById('main-search').value.replace(' ', '+');`) Go
                div.col-sm-2
            nav.row
                div.col-sm-8
                    each group in navItems
                        div.p-0
                            each triad, index in group
                                -if(index != webPage)
                                    -if(+triad[2] <= +level)
                                        a.btn.m-1.ct-color(href=`${baseURL}${triad[1]}`)= triad[0]
                                -else
                                    -if(+triad[2] <= +level)
                                        span.btn.m-1.bg-item= triad[0]
                div.col-sm-4.text-end
                    -if(user == undefined)
                        -if(webPage == 103)
                            span.btn.m-1.bg-item Settings
                        -else
                            a.btn.m-1.ct-color(href=`${baseURL}/config`) Settings
                        -if(webPage == 101)
                            span.btn.m-1.bg-item Login
                        -else
                            a.btn.m-1.gd-color(href=`${baseURL}/login`) Log In
                    -else
                        b.btn.box.m-1.bg-item= user.username
                        -if(webPage == 102)
                            span.btn.m-1.bg-item Change Password
                        -else
                            a.btn.m-1.ct-color(href=`${baseURL}/login/change`) Change Password
                        -if(webPage == 103)
                            span.btn.m-1.bg-item Settings
                        -else
                            a.btn.m-1.ct-color(href=`${baseURL}/config`) Settings
                        a.btn.m-1.er-color(href=`${baseURL}/logout`) Log Out
        div#banners.bg-item
            each error in errors
                div.banner.er-color.p-3.mb-2.text-center= error
            each success in successes
                div.banner.gd-color.p-3.mb-2.text-center= success
            each message in messages
                div.banner.ms-color.p-3.mb-2.text-center= message
        h3.text-center.mb-3= legend
        block layout-content
        script= `tagSuggest('${baseURL}', 'main', true)`
        script= 'attachSearch();'
        -if(pages.active)
            -if(pages.pageNumber <= 0)
                -pages.pageNumber = 1
            -if(pages.pageCount <= 0)
                -pages.pageCount = 1
            div.mt-3.text-center
                -if(pages.pageNumber != 1)
                    a.ml-2.mr-2.btn.ct-color(href=`${pages.pageURL}${1}`)= '<<'
                    a.ml-2.mr-2.btn.ct-color(href=`${pages.pageURL}${pages.pageNumber - 1}`)= '<'
                -if(pages.pageCount <= 10)
                    -i = 1;
                    while i <= pages.pageCount
                        -if(i == pages.pageNumber)
                            span.ml-2.mr-2.btn.bg-item= i++
                        -else
                            -n = i++;
                            a.ml-2.mr-2.btn.ct-color(href=`${pages.pageURL}${n}`)= n
                -else
                    -if(pages.pageNumber <= 5)
                        -i = 1;
                    -else
                        -i = pages.pageNumber - 5
                    -if(pages.pageNumber >= pages.pageCount - 5)
                        -t = pages.pageCount
                    -else
                        -t = pages.pageNumber + 5
                    while i <= t
                        -if(i == pages.pageNumber)
                            span.ml-2.mr-2.btn.bg-item= i++
                        -else
                            -n = i++;
                            a.ml-2.mr-2.btn.ct-color(href=`${pages.pageURL}${n}`)= n
                -if(pages.pageNumber != pages.pageCount)
                    a.ml-2.mr-2.btn.ct-color(href=`${pages.pageURL}${pages.pageNumber + 1}`)= '>'
                    a.ml-2.mr-2.btn.ct-color(href=`${pages.pageURL}${pages.pageCount}`)= '>>'