extends layout

block layout-content
    div.container-fluid
        div.row
            div.col-sm-1
            div.col-sm-10
                each rw in args.results
                    div.row.align-items-end
                        each item in rw
                            div.text-center.col-sm-2
                                - if(item != undefined)
                                    a.item(href=`/item?id=${item.id}&tags=${search.replace(' ', '+')}`)
                                        -if(item.type == 0)
                                            img.width-snug(title=item.tags.join(" "), src=`${item.source}`)
                                        -else if(item.type == 1)
                                            img.width-snug(title=item.tags.join(" "), src=`/assets/doc.svg`)
                                        -else if(item.type == 2)
                                            img.width-snug(title=item.tags.join(" "), src=`/assets/video.svg`)
                                        -else if(item.type == 3)
                                            img.width-snug(title=item.tags.join(" "), src=`/assets/audio.svg`)
                                        -else
                                            img.width-snug(title=item.tags.join(" "), src=`/assets/unk.svg`)
                    div.row.mb-4
                        each item in rw
                            div.text-center.mt-2.col-sm-2
                                - if(item != undefined)
                                    span= item.desc