extends layout

block layout-content
    div.row
        div.col-sm-1
        div.col-sm-10
            each rw in args.results
                div.row.align-items-end
                    each item in rw
                        div.searchItem.searchImage.col-sm-2
                            - if(item != undefined)
                                a.item(href=`${baseURL}/item?id=${item.id}&tags=${search.replace(' ', '+')}`)
                                    -if(item.type == 0)
                                        img.thumb(alt=item.tags.join(" "), src=item.source)
                                    -else
                                        img.thumb(alt=item.tags.join(" "), src=`${baseURL}/assets/text70.svg`)
                div.descRow.row
                    each item in rw
                        div.searchItem.searchDesc.col-sm-2
                            - if(item != undefined)
                                span= item.desc