extends layout

block layout-content
    div.container-fluid
        div.row
            div.col-sm-1
            div.col-sm-10
                each rw in args.results
                    div.row.align-items-end
                        each item in rw
                            div.text-center.col-sm-2
                                - if(item != undefined)
                                    a.item(href=`${baseURL}/item?id=${item.id}&tags=${search.replace(' ', '+')}`)
                                        -if(item.type == 0)
                                            img.width-snug(title=item.tags.join(" "), src=`${item.source.replace('$BASE_URL', baseURL)}`)
                                        -else
                                            img.width-snug(title=item.tags.join(" "), src=`${baseURL}/assets/text70.svg`)
                    div.row.mb-4
                        each item in rw
                            div.text-center.mt-2.col-sm-2
                                - if(item != undefined)
                                    span= item.desc