extends layout

block layout-content
    - if(args.tag != null)
        div.container-fluid
            div.row
                div.col-sm-1
                div.col-sm-5.box.ps-3.pe-3.pb-3
                    h3.mt-3 Parent
                    -if(args.tag.parent == null)
                        div (None)
                    - else
                        div
                            a(style=`color: ${args.codex.type.getColorString(config.tagLum)}`, href=`${baseURL}/tag?name=${args.tag.parent}`)= args.tag.parent
                    h3.mt-3 Children
                    -if(args.tag.children.length == 0)
                        div (None)
                    -else
                        each child in args.tag.children
                            div
                                a(style=`color: ${args.codex.type.getColorString(config.tagLum)}`, href=`${baseURL}/tag?name=${child}`)= child
                    h3.mt-3 Siblings
                    -if(args.codex.siblings.length == 0)
                        div (None)
                    -else
                        each sibling in args.codex.siblings
                            div
                                a(style=`color: ${args.codex.type.getColorString(config.tagLum)}`, href=`${baseURL}/tag?name=${sibling}`)= sibling
                div.col-sm-5.box.ps-3.pe-3.pb-3
                    -if(user != undefined && user.role >= 2)
                        h3.mt-3 Options
                        div#options
                            a.btn.gd-color(href=`${baseURL}/post/tag?edit=${args.tag.name}`) Edit
                            a.btn.er-color(href=`${baseURL}/delete/tag?name=${args.tag.name}`) Delete
                    h3.mt-3 Type
                    a(style=`color: ${args.codex.type.getColorString(config.tagLum)}`, href=`${baseURL}/search/tagTypes?tagTypeMatch=${args.tag.type}`)= args.tag.type
                    h3.mt-3 Item Count
                    a(href=`${baseURL}/search?tags=${args.tag.name}`)= args.tag.refs.length
                    h3.mt-3 Link
                    a(href=`${baseURL}/tag?name=${args.tag.name}`)= `${baseURL}/tag?name=${args.tag.name}`
                div.col-sm-1
    - else
        h2 The specified tag could not be loaded or does not exist