extends layout

block layout-content
    div#tagSearch
        label#tagSearchLabel.tagSearchElement(for="tagSearch") Search Tags
        input#tagSearchBar.tagSearchElement(type="text" name="tagSearch", value=args.tagSearch)
        button#tagSearchButton.tagSearchElement(onclick=`window.location.href='${baseURL}/search/tags?tagMatch='+document.getElementById('tagSearchBar').value;`) Go
    table#tagTable
        tr#tagSearchHeader
            th Name
            th Type
            th Count
        each tag in args.results
            tr.tagSearchRow
                td
                    a(href=`${baseURL}/tag?name=${tag.name}`)= tag.name
                td
                    a(style=`color: ${args.types.get(tag.type).color};`, href=`${baseURL}/search/tagTypes?tagTypeMatch=${tag.type}`)= tag.type
                td= tag.refs.length