extends layout

block layout-content
    div.container-fluid
        div.row
            div.col-sm-3
            div.col-sm-6.row.align-items-center
                div.col-sm-3.text-end
                    span.bg-item Search Tags
                div.col-sm-6
                    input#small-search.width-full.form-control.field(type='text' name="tagSearch", value=args.tagSearch)
                div.col-sm-3
                    button.btn.gd-color(onclick=`window.location.href='/search/tags?tagMatch='+document.getElementById('small-search').value;`) Go
            div.col-sm-3
        div.row.mt-3
            div.col-sm-1
            div.col-sm-10
                div.row.mb-1.text-center
                    div.col-sm-3
                    div.col-sm-2
                        b Name
                    div.col-sm-2
                        b Type
                    div.col-sm-2
                        b Count
                    div.col-sm-3
                each tag in args.results
                    div.row.mb-1.text-center
                        div.col-sm-3
                        div.col-sm-2
                            a(href=`/tag?name=${tag.name}`)= tag.name.replaceAll('_', ' ')
                        div.col-sm-2
                            a(style=`color: ${args.types.get(tag.type).getColorString(config.tagLum)};`, href=`/search/tagTypes?tagTypeMatch=${tag.type}`)= tag.type
                        div.col-sm-2= tag.refs.length
                        div.col-sm-3
            div.col-sm-1