extends layout

block layout-content
    div.container-fluid
        div.row
            div.col-sm-3
            div.col-sm-6.row.align-items-center
                div.col-sm-3.text-end
                    span.bg-item Search Tag Types
                div.col-sm-6
                    input#small-search.width-full.form-control.field(type='text' name="tagSearch", value=args.tagSearch)
                div.col-sm-3
                    button.btn.gd-color(onclick=`window.location.href='${baseURL}/search/tagTypes?tagMatch='+document.getElementById('small-search').value;`) Go
            div.col-sm-3
        div.row.mt-3
            div.col-sm-1
            div.col-sm-10
                div.row.mb-1.text-center
                    div.col-sm-2
                    div.col-sm-2
                        b Name
                    div.col-sm-2
                        b Hue
                    div.col-sm-2
                        b Precedence
                    div.col-sm-2
                        -if(user != undefined && user.role >= 2)
                            b Options
                    div.col-sm-2
                each type in args.results
                    div.row.mb-1.text-center.align-items-center
                        div.col-sm-2
                        div.col-sm-2= type.name
                        div.col-sm-2
                            -if(type.grey)
                                span Grey
                                span(style=`color:hsl(0, 0%, ${100 - type.hue}%);`)  ■
                                span(style=`color:hsl(0, 0%, ${type.hue}%);`)  ■
                            -else
                                span= type.hue
                                span(style=`color:hsl(${type.hue}, 80%, 25%);`)  ■
                                span(style=`color:hsl(${type.hue}, 80%, 50%);`)  ■
                                span(style=`color:hsl(${type.hue}, 80%, 75%);`)  ■
                        div.col-sm-2= type.order
                        div.col-sm-2
                            -if(user != undefined && user.role >= 2)
                                a.btn.ms-2.me-2.gd-color(title='Edit' href=`${baseURL}/post/tagType?edit=${type.name}`) E
                                -if(type.name != 'default')
                                    a.btn.ms-2.me-2.er-color(title='Delete' href=`${baseURL}/delete/tagType?name=${type.name}`) X
                                -else
                                    span.btn.ms-2.me-2.bg-item X
                        div.col-sm-2
            div.col-sm-1