extends layout

block layout-content
    div#tagSearch
        label#tagSearchLabel.tagSearchElement(for="tagSearch") Search Tag Types
        input#tagSearchBar.tagSearchElement(type="text" name="tagSearch", value=args.tagSearch)
        button#tagSearchButton.tagSearchElement(onclick=`window.location.href='${baseURL}/search/tags?tagMatch='+document.getElementById('tagSearchBar').value;`) Go
    table#tagTable
        tr#tagSearchHeader
            th Name
            th Color
            th Precedence
            -if(user != undefined && user.role >= 2)
                th Options
        each type in args.results
            tr.tagSearchRow
                td.tagTypeCell= type.name
                td.tagTypeCell
                    span= type.color.toString()
                    span(style=`color:${type.color};`)  ■
                td.tagTypeCell= type.order
                -if(user != undefined && user.role >= 2)
                    td
                        a.button.tableButton.editButton(href=`${baseURL}/post/tagType?edit=${type.name}`) E
                        -if(type.name != 'default')
                            a.button.tableButton.deleteButton(href=`${baseURL}/delete/tagType?name=${type.name}`) X