extends layout

block layout-content
    div#userSearch
        label#userSearchLabel.tagSearchElement(for="userSearch") Search Users
        input#userSearchBar.tagSearchElement(type="text" name="userSearch", value=args.userSearch)
        button#userSearchButton.tagSearchElement(onclick=`window.location.href='${baseURL}/userCenter?username='+document.getElementById('userSearchBar').value;`) Go
    table#tagTable
        tr#tagSearchHeader
            th Username
            th Role
            th State
            th Options
        each user in args.results
            tr.tagSearchRow
                td.tagTypeCell= user.username
                td.tagTypeCell= user.roleToString()
                td.tagTypeCell= user.stateToString()
                td
                    a.button.tableButton.editButton(href=`${baseURL}/post/user?edit=${user.username}`) E
                    a.button.tableButton.deleteButton(href=`${baseURL}/delete/user?username=${user.username}`) X